<div class="my_header">
    <li>
    	<%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %>
    	</li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>


<main role="main" class="container menu-area">

<h2 class="block-title">Guide de l'explorateur </h2>

	<blockquote>
	“Je voulais capter l’essence de cette culture qui allait disparaître, préserver une part d’histoire...” Martha Cooper
	</blockquote>

<p>
	La photographie a toujours accompagné l’art urbain. Avant l’avènement de la photo numérique et des réseaux sociaux, il s’agissait souvent du seul moyen dont disposait l’artiste pour garder une trace de son travail.Devenir explorateur, c’est prendre des photos d’art urbain qui bénéficient à l’ensemble de la communauté, d’un explorateur qui aimerait voir sur place l’oeuvre prise en photo à l’artiste qui a mis tout son coeur à l’ouvrage. Voici 5 règles d’or à garder à l’esprit :
</p>

<h4 class="block-subtitle">Rien ne presse</h4>

	<p>
		Le numérique est formidable : plus de pellicules donc il est facile de mitrailler. Cependant, n’hésitez pas à prendre votre temps, à essayer différents angles de vue, vous rapprocher ou vous éloigner afin de choisir ce qui vous paraît le mieux. Inspirez-vous de l’oeuvre, de la lumière, de l’ambiance. Mettez-y de l’intention.
	</p>

<h4 class="block-subtitle">Le diable se cache dans les angles</h4>

	<p>
		Combien de magnifiques photos ont vu leur glorieux destin basculer à cause d’un doigt sur l’objectif, d’un bout de voiture disgracieux qui s’est glissé sournoisement dans le champs ? Ouvrez donc l’oeil pour ne pas tomber dans cet écueil !
	</p>

<h4 class="block-subtitle">Toujours rendre à Cesar ce qui appartient à Cesar</h4>

	<p>Respecter le travail d’un artiste, c’est le lui attribuer lorsque l’on en a la possibilité.</p>

<h4 class="block-subtitle">Respecter l’artiste</h4>

	<p>
		Être artiste urbain, c’est donner de son temps, de son énergie et de son talent pour partager quelque chose avec ceux qui la verront. Être artiste urbain peut quelquefois amener à prendre des risques. Lorsque vous croiserez un artiste urbain en plein travail, n’hésitez pas à vous présenter, et à demander si vous pouvez prendre l’oeuvre en photo. S’il apparaît sur votre cliché, demandez-lui son accord et respectez son choix.
	</p>

<h4 class="block-subtitle">Montrez-nous la voie</h4>

	<p>
		Votre objectif, à travers cette app, est d’inspirer les autres membres de la communauté : inspirer une nouvelle photo, inspirer une nouvelle balade, etc. Encore faut-il qu’une fois prêt, convaincu par vos photos et vos balades, il puisse retrouver la bonne géolocalisation. Tout le monde compte sur vous !
	</p>

</main>


<script type="text/javascript">

$('.mySidenav a').on( 'click', function () {
      $('.mySidenav').show();
});
</script>
