<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>

<main role="main" class="container menu-area">

<h2 class="block-title">À propos</h2>


<p>
	Creapolis, c’est une communauté dédiée à une seule et même passion : l’art urbain. Valoriser cet art, c’est mettre en avant le potentiel d’inspiration et de création que renferme chaque ville. Nous pensons qu’en chacun de nous sommeille un explorateur qui ne demande qu’à être encouragé à pousser sa balade un peu plus loin.
</p>

<p>
	Au quatre coins du globe, les artistes disséminent des oeuvres d’art urbain. Elles nous racontent quelque chose sur eux, sur la ville, sur nous-mêmes. Partir à leur recherche c’est partir à la rencontre d’un territoire, que l’on y vive ou que l’on soit juste de passage.
</p>

<p>
	Comment l’oeuvre s’inscrit-elle dans son environnement ? Que cherche-t-elle à provoquer chez nous ? Comment les gens réagissent-ils ? Pour nous, c’est là toute la magie de l’art urbain. Il nous invite à prêter attention à ce qui nous entoure, mobilise notre capacité d’émerveillement et notre imagination.
</p>

<p>
	En matière de découverte d’oeuvres d’art urbain, il y a des éclaireurs qui aiment prendre un peu d’avance. Il y a les guides qui aiment montrer le chemin aux autres. Il y a aussi des sentinelles qui se soucient da la fiabilité des informations recueillies.</p>
<p>
	Vous aussi, [re]découvrez votre environnement avec Creapolis, que vous soyez dans votre quartier ou à l’autre bout du monde. Suivez le guide, mais n’hésitez pas à prendre la tangente !
</p>

</main>