<div class="my_header">
    <li> <%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %> </li>
    <%= link_to root_path do %>
      <div class="header_title">
        <div class="header_title_logo"></div>
      </div>
    <% end %>
    <li></li>
</div>

<main role="main" class="container menu-area">

<h2 class="block-title">Guide de l'explorateur </h2>

<p>
	L'art urbain se caractérise par une multitude de pratiques qui peuvent être combinées. Régulièrement réinventées et enrichies par les artistes au gré de leurs pratiques et expérimentations, elle peuvent être figuratives, littérales ou abstraites. Ci-dessous une liste non exhaustive des principaux styles que vous pourrez rencontrer : 
</p>

<h4 class="block-subtitle">Le graffiti</h4>

	<p>
		Fresque murale (lettrage ou figure) généralement réalisée à la bombe. Une des disciplines originelles de l'art urbain.
	</p>

<h4 class="block-subtitle">Le tag</h4>

	<p>
		Signature plus ou moins stylisée tracée d'un geste fluide et rapide à la bombe, au posca, etc. L'une des techniques originelles de l'art urbain.
	</p>

<h4 class="block-subtitle">Le chalk graffiti</h4>

	<p>Utilisation de la craie blanche ou colorée sur tout type de support.</p>

<h4 class="block-subtitle">Le pochoir</h4>

	<p>
		Un ou plusieurs support(s) découpé(s) au cutter et repassé(s) à la bombe pour faire apparaitre un motif. Technique appréciée pour sa rapidité d'éxécution en milieu urbain.
	</p>

<h4 class="block-subtitle">Le collage</h4>

	<p>
		Une oeuvre travaillée en général sur papier et collée par la suite dans l'espace public. Réduit les risques liés à la notion de dégradation.
	</p>

<h4 class="block-subtitle">La mosaïque</h4>

	<p>
		Utilisation de tesselles (pierres colorées, émail, verre, etc.) assemblés à l'aide de mastic ou d'enduit pour former des motifs ou des figures.
	</p>

<h4 class="block-subtitle">Le yarn bombing</h4>

	<p>
		Utilisation de tricot pour habiller le mobilier urbain.
	</p>

<h4 class="block-subtitle">Le land art</h4>

	<p>
		Utilisation d'éléments naturels (terre, bois, feuillles, pierre) pour créer une oeuvre. Prise en compte des enjeux de développement durable et de préservation de l'environnement.
	</p>

	<h4 class="block-subtitle">Le graffiti négatif</h4>

	<p>
		Enlever des éléments du support pour créer une oeuvre. Replace le support au centre de la démarche.
	</p>

	<h4 class="block-subtitle">Le moulage</h4>

	<p>
		Oeuvre en relief généralement réalisée en atelier grâce à un moule avant d'être placée dans l'espace public.
	</p>
</main>