<div class ="artwork-image-likes">
    <%= link_to image_tag((@artwork.pictures.first.img_url)), artwork_path(@artwork) %>
</div>

<div class = "artwork-infos">
      <p><i class="fas fa-user"></i> <%= @artwork.users.first.pseudo%></p>
      <p><i class="fas fa-paint-brush"></i>Graffiti</p>
      <p><i class="fas fa-check-circle"></i>  Visible </i></p>
</div>
