<!-- Partie du haut -->
<div class="user_top">

  <div class="user_menu">
      <li><%= link_to content_tag(:i, nil, class: 'fas fa-bars'), root_path %>
      </li>
      <li><%= link_to content_tag(:i, nil, class: 'fab fa-whmcs'), root_path %>
      </li>
  </div>


 <!--  <div class="user_avatar_row">
      <%= image_tag 'image1.jpg' %>
  </div>


  <div class="user_pseudo">
    Toto Streetartist
  </div>
  -->





</div>
<!-- FIN partie du haut -->



<div class="user_map"></div>


<!-- FIN Partie du bas -->
<%= render 'layouts/bottom_menu' %>
