<div class="my_header">
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %>
    </li>
    <div class="header_title">Creapolis</div>
    <li>
    </li>
</div>


<div class="body-container">
	<p>Veuillez ajouter la photo associée à l'oeuvre. La création de l'oeuvre doit être validée par les modérateurs</p>

	<%= form_tag pictures_path(id: "0")), multipart: true do %>

	<%= file_field_tag(:img_url) %>
	<p> <%= submit_tag 'Valider', class: "btn btn-primary"%></p>
	<% end %>
</div>
