<div class="my_header">
    <li><%= link_to content_tag(:i, nil, class: 'fas fa-chevron-left'), root_path %>
    </li>
    <div class="header_title">Creapolis</div>
    <li>
    </li>
</div>


<div class="body-container">
	<h1>Pictures#show</h1>
	<p>Find me in app/views/pictures/show.html.erb</p>

	<%= image_tag @picture.img_url_url %>
</div>