.admin_menu{
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.admin_menu a{
  padding: 0px;
  border-radius: 5px;
  border: 1px grey solid;
  text-decoration: none;
  height: 10vh;
  width: 70vw;
  font-size: medium;
  color: #09125A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin_menu a:hover{
  background-color: #09125A;
  color: white;
  text-decoration: none;
}

.artwork_moderation {
  padding: 0 15px;
}

.artwork_moderation table{
  tr {
    border:1px solid grey;
  }
  td, th {
    padding-right: 10px;

  }
}
