/*User datas*/
.user_avatar_small {
width: 50px;
height: 50px;
background-color: red;
border-radius: 50px;
}


ul,li{
	list-style-type: none;
	list-style-position: inside;
	display: inline-block;
}

/*Top bar global */
.artwork_top_global{
  width: auto;
  /*background-color: rgba(255,255,255,0);*/
  background-color: #ccc;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}

.artwork_item_group_left{left: 0; width: auto;display: flex;}
.artwork_item_group_right{position:absolute;right: 0; width: auto;display: flex}

.artwork_item_left, .artwork_item_right{
width: 35px;
height: 35px;
background-color: yellow;
align-items: stretch;
margin: 0 5px 0 0;
}

.artwork_item_right{margin: 0 0 0 5px;}


/*Artwork_info*/
.artwork_info{
width: 100%;
height: 60px;
/*background-color: brown;*/
display: flex;
justify-content: space-between;

}

.artwork_info ul {
margin-left: -30px;
}

.artwork_info_group_left{
width: 50%;
height: auto;
/*background-color: #657845;*/
display: flex;
flex-wrap: wrap;
}

.artwork_info_group_right{
width: 50%;
height: 60px;
/*background-color: purple;*/
flex-wrap: wrap;
}

/*List of infos type*/
.artwork_info_artist{
width: 100%;
height: 50%;
/*background-color: orange;*/
display: flex;
align-items: center;
}

.artwork_info_tech{
width: 100%;
height: 50%;
/*background-color: blue;*/
display: flex;
align-items: center;
}

.artwork_info_place{
width: 100%;
height: 50%;
/*background-color: #fe52fe;*/
display: flex;
align-items: center;
}

.artwork_info_status{
width: 100%;
height: 50%;
/*background-color: pink;*/
display: flex;
align-items: center;
}


.test{
  /*background-color: red;*/
  width: 100%;
  height:50px;
}








