/*User datas*/
.user_avatar_small {
width: 50px;
height: 50px;
background-color: red;
border-radius: 50px;
}


ul,li{
	list-style-type: none;
	list-style-position: inside;
	display: inline-block;
}

/*Top bar global */
.artwork_top_global{
  width: auto;
  /*background-color: rgba(255,255,255,0);*/
  background-color: #ccc;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}

.artwork_item_group_left{left: 0; width: auto;display: flex;}
.artwork_item_group_right{position:absolute;right: 0; width: auto;display: flex}

.artwork_item_left, .artwork_item_right{
width: 35px;
height: 35px;
background-color: yellow;
align-items: stretch;
margin: 0 5px 0 0;
}


/*Artwork_info*/
.artwork_info{
  width: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 2vh
}

.artwork_info ul {
  margin-left: -30px;
  display: flex;
}



/* The heart of the matter */
.scroll-group > .row {
  overflow-x: auto;
  white-space: nowrap;
  /*background-color: yellow;*/
  padding: 0 0 20px 0;
  margin-top:5px;
}
.scroll-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
  margin: 0 -30px 0 0;
}

.col-xs-4 {
    width: 33.333%;

}

.title-artwork{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10vh;
    width:100%;
    padding-left: 15px;
}

.add-picture-to-artwork {
  display: flex;
  justify-content: flex-start;
  color: white;
  cursor: pointer;
  background-color: #ec607e;
  padding: 15px 0px 5px 10px;
  width: 100%;
  border: 0px;
  border-radius: 3px;
  margin-bottom: 1vh;
  .fas {
    margin-right: 7px;
    margin-top: -4px;
  }

}

.submit-new-picture-button {
  input[type=submit] {
    background-color: #ec607e;
    padding: 15px 0px 15px 10px;
    width: 100%;
    border: 0px;
    border-radius: 3px;
  }
}

.center-picture-preview {
  display: flex;
  justify-content: center;
}

.artwork-picture-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.claim-artwork {
  text-align: center;
  width: 100%;
  margin-bottom: 6vh;
  margin-top: 3vh;
}

.claim-artwork a {
  color:#26348b;
  border: 2px solid #26348B;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10vh;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 82vh;
    overflow: scroll;
}


