.connection{
  z-index: 999;
  height: 84vh;
  background-color:white;
  margin-top: 8vh;
}

.box-connection-top{
  z-index: 999;
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-connection-top-edit{
  z-index: 999;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title{
  font-size: 20px;
  color: #ccc;
  font-weight: lighter;
  padding: 20px 0px 20px 0px;
}

.box-connection-top a{
  z-index: 999;
  color: grey;
  text-decoration:underline;
  margin-top: 20px;
}


.box-connection-top-edit a{
  z-index: 999;
  color: grey;
  text-decoration:underline;
  margin-top: 20px;
}

.box-connection-top, .box-connection-top-edit input{
  padding: 15px 0px 15px 10px;
  width:100%;
  text-align: left;
  border: 1px solid #ccc;
}

.box-connection-top input{
  padding: 15px 0px 15px 10px;
  width:100%;
  text-align: left;
  border: 1px solid #ccc;
}

#user_email{
  border-radius:3px 3px 0px 0px;
}

#user_password{
  border-radius:0px 0px 3px 3px;
  margin-top:-1px;
}

#user_password_confirmation{
  border-radius:0px 0px 3px 3px;
}

.signup-password #user_password{
  border-radius:0px;
  margin-bottom:-1px;
}

.update #user_current_password{
  border-radius:3px;
  margin-bottom:-1px;
}

.update-password #user_password{
  border-radius:0px;
  margin-bottom:-1px;
}


#user_pseudo {
  border-radius:3px 3px 0px 0px;
  margin-bottom:-1px;
}

#user_country {
  border-radius:0px 0px 3px 3px;
}

.form-pseudo-picture {
  display: flex;
  align-items: center;
  width: 100%;
  .fas {
  color: #ccc;
  padding: 0px 5px 0px 5px;
  }
  p {
    font-size: 10px;
  }
}

.box-connection-top form {
  z-index: 999;
  display: flex;
  flex-direction: column;
  width:70%;
}

.box-connection-top-edit form {
  z-index: 999;
  display: flex;
  flex-direction: column;
  width:70%;
}

.box-connection-bottom{
  color: black;
  height: 18vh;
  text-align: center;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-connection-bottom a{
  color: #26348b;
  border: 2px solid #26348b;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 15px ;
  border-radius: 3px;
  text-decoration: none;
  width:70%;
}

.box-connection-bottom a:hover{
  background-color: #26348b;
  color:white;
  text-decoration: none;
}

.remember{
  z-index: 999;
  display: none;
}

input[type=submit] {
  text-align: center;
  background-color: #999;
  border:0px;
  border-radius: 3px;
  font-weight: bold;
  color:white;
  width: 100%;
  margin-top:10px;
}

input[type=submit]:hover{
  background-color: #26348b;
}

#delete-button {
  background-color: white;
    z-index: 999;
  color: grey;
  text-decoration:underline;
  font-weight: normal;
}

