
.box_connection {
  /* Avec les flex
  width: 50%;
  */
  height: 52vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  border-radius : 10px;
  background-color: #f2f2f2;
  width: 45%;
}
.box_connection_top{
  height: 75%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_connection_top a{
  color: grey;
  text-decoration: none;
}

.box_connection_top input{
  border: 3px solid aliceblue;
  margin: 5px;
}
.box_connection_top form {
    display: flex;
    flex-direction: column;
}

.box_connection_bottom{
  background-color: #8f8b88;
  padding :15px;
  color: black;
  text-align: center;
}
.box_connection_bottom a{
  color: white;
  text-decoration: none;
}

.remember{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.remember input{
  width: 20px;
}
