body{
  margin :0;
}

/* -------- Barre de header --- */

header {

  background-color: #09125A;
  color: white;
  position: fixed;
  top: 0;
  width :100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_title{
  font: 1rem white;
  line-height: 8vh;
}
header a {
  color: white;
}

header li{
  height: 8vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------- Partie centrale de l'app  --- */
.display{
  margin-top: 8vh;
}

/* -------- Barre de footer --- */

.bottom_menu{
  height: 6vh;
  background-color: #09125A;
  position: fixed;
  bottom: 0;
  width :100%;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.bottom_menu a {
  color: white;
}

.bottom_menu li{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  height: 25vh;
  background-color: antiquewhite;
}
.bottom_menu li:hover .tab {
    display: block;
    position: fixed;
    width: 100vw;
    bottom: 6vh;
    left: 0;
}

.bottom_menu .tab2 {background-color: blue;}
.bottom_menu .tab3 {background-color: orange;}
.bottom_menu .tab4 {background-color: black;}
.bottom_menu .tab5 {background-color: green;}

/* Hide image form and show up the camera in white instead */
.add-image {
  position: absolute;
  opacity: 0;
  left: 40%;
  top: 1px;
  height: 6vh;
  width: 20%;
}

.fa-camera {
	color: white;
}

/* -------- La carte --- */

#map_index {
  margin-top: 8vh;
  margin-bottom: 6vh;
  height: 86vh;

}



.container{
  margin-top: 8vh;
  color: blue;
}

#feature_infos {
  width: 100%;
  position: absolute;
  top: 70vh;
  right: 0px;
  padding: 5px;
  border: 1px solid grey;
  z-index: 999;
  left: 0;
  bottom: 6vh;
  background-color: white;
}
#info {
    font-weight:bold;
    color:red;
}
