body{
  margin :0;
}

/* -------- Barre de header --- */

header {

  background-color: #09125A;
  color: white;
  position: fixed;
  top: 0;
  width :100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_title{
  font: 1rem white;
  line-height: 8vh;
}
header a {
  color: white;
}

header li{
  height: 8vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------- LOGIN and SIGNUP  --- */

.connection{
  height: 92vh;
  background-image: url(/assets/image_fond.jpg);
  background-size: cover;
}

/* -------- Partie centrale de l'app  --- */
.display{
  margin-top: 8vh;
}

/* -------- Barre de footer --- */

.bottom_menu{
  height: 6vh;
  background-color: #09125A;
  position: fixed;
  bottom: 0;
  width :100%;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.bottom_menu a {
  color: white;
}

.bottom_menu li{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  height: 25vh;
  background-color: antiquewhite;
}

/* Hide image form and show up the camera in white instead */
.add-image {
  position: absolute;
  opacity: 0;
  left: 40%;
  top: 1px;
  height: 6vh;
  width: 20%;
}

.fa-camera {
	color: white;
}

/* -------- La carte --- */

#map_index {
  margin-top: 8vh;
  margin-bottom: 6vh;
  height: 86vh;

}

.container{
  margin-top: 8vh;
}



/* ---------- test de mise en forme pop up -- */



/* ---------- test de mise en forme pop up -- */
  .popup-container {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border : 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.35); 
  }

  .artwork-image-likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    min-width: 75%;
    height: 100%;
    min-height: 45%;
    border : 2px;
    border-style: solid; 
    border-color: yellow;
  }

  .responsive {
    max-width: 350px;
    width: 75%;
  }

  .artwork-image {

  }

  .artwork-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    height : 100%;
    border : 2px;
    border-style: solid;
    border-color: green;
  }



.artwork-infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border : 4px;
  border-style: solid;
  border-color: green;
}


#feature_infos {
  width: 100%;
  position: absolute;
  top: 70vh;
  right: 0px;
  padding: 5px;
  border: 1px solid grey;
  z-index: 999;
  left: 0;
  bottom: 6vh;
  background-color: white;
}

#info {
    font-weight:bold;
    color:red;

}


/*Bootstrap 3.3.7 - Artwork_page*/

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 

}
