body{
  margin :0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6, .my_header, p, div, ul, li {
  font-family: 'Roboto', sans-serif;
}

p, div {
  font-size: 1.3rem;
}

h2 {
  font-size: 2.5rem !important;
}

.leaflet-control-attribution.leaflet-control {
    display:none;
}




.body-container {
  margin-top:8vh;
  margin-bottom: 10vh;
}

/* -------- Barre de header --- */

.my_header {

  background-color: #fff;
  color: #09125A;
  position: fixed;
  top: 0;
  width :100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 4px #A5A5A5;
}

.header_title{
  color: #09125A;
  line-height: 10vh;
  background-repeat: no-repeat;
  margin:auto;
  background-color: green;
  display: flex;
  justify-content: center;
}

.header_title_logo{
  background-image: asset-data-url('creapolis_logo_temp.png');
  width: 107px;
  height: 51px;
}

.my_header a {
  color: #09125A;
}

.my_header li{
  height: 10vh;
  width: 15%;
  height: 8vh;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------- Partie centrale de l'app  --- */
.display{
  margin-top: 8vh;
}

/* -------- Barre de footer --- */

.bottom_menu{
  height: 10vh;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width :100%;
  display: flex;
  flex-direction: row;
  z-index: 999;
  text-transform: uppercase;
  font-weight: 700;


}

.bottom_menu li{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.bottom_menu li:hover{
  background-color: #09125A;
}

.bottom_menu li:active,
.bottom_menu li.selected {
  background-color: #09125A;
  a {color: #fff;}
}

.bottom_menu a {
    width: 20vw;
    height: 8vh;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.bottom_menu a:hover {
    text-decoration: none;
    color: #fff;
}
.bottom_menu a:active{
  background-color: #09125A;
}

.bottom_menu i {
    height: 4vh;
    padding-bottom: 3px;
}

.active_tab i{
  color: #09125A !important;
}


.button_title{
  background-color: grey;
}

/* Hide image form and show up the camera in white instead */
.add-image {
  position: absolute;
  opacity: 0;
  left: 40%;
  top: 1px;
  height: 6vh;
  width: 20%;
}

.fa-camera {
	color: white;
}

/* -------- La carte --- */

#map_index {
  margin-top: 8vh;
  margin-bottom: 8vh;
  height: 84vh;
}

#map_user{
  height: 46vh;
}

.container{
  margin-top: 8vh;
}



/* ---------- Mise en forme show_small d'artwork -- */

.popup-container {
  z-index: 999;
  position: absolute;
  bottom: 10vh;
  display: flex;
  width: 100%;
  height: 18vh;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px -4px 20px 0px #585858;
}

.artwork-image-likes {
  display: flex;
  flex-direction: column;
  padding: 0px;
  img {
  height: 18vh;
  max-width: 300px;
  }
}

.artwork-infos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height : 100%;
  .fas {
  color: #ec607e;
  margin-right: 3px;
  }
  p {
    font-weight: bold;
    font-size: 12px;
    color: #333;
  }
}

.link-to-camera {
  width:10%;
}

/*------ Bootstrap 3.3.7 - Artwork_page --------*/

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}

}

/*----------CSS Slideshow-------------------*/


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  width: 100%;
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* ---------- mise en forme du formulaire creation artwork et picture -- */

.form-container {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
}

.popup-form {
  z-index: 999;
  position: absolute;
  top: 12vh;
  bottom: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-new-form {
  position:absolute;
  top:8vh;
  bottom: 8vh;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

.artwork-new{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height:75vh;
  border-radius: 6px;
  padding: 20px;
}

.artwork-new form {
  display: flex;
  flex-direction: column;
  width:100%;
}

.artwork-new input {
  padding: 15px 0px 15px 10px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.artwork-new input[type="submit"] {
  background-color: #ec607e;
  padding: 15px 0px 15px 10px;
  width:100%;
  border:0px;
  border-radius: 3px;
}

.artwork-new input[type="submit"]:hover {
  background-color: #d85b74;
}

.artwork-new p {
  color: #26348b;
  font-size: 14px ;
}

.artwork-new label {
   color: #999;
}

#small-map-index {
  height:30vh;
  margin-bottom: 5px;
}

#generate-location {
  height: 7vh;
  padding: 2px;
  background-color: #68bfac;
  border-radius: 3px;
  color: white;
  margin-top: 5px;
  text-align: center;
  border:0px;
}

#move-marker {
  display: flex;
  justify-content: space-between;
}

.picture-new-container {
  display: flex;
  height: 78vh;
  align-items: center;
}

.picture-new {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  height: 40vh;
  border-radius: 6px;
  padding: 20px;
  .fas {
  color: #ccc;
  margin-right: 3px;
  }
}

.picture-new p {
  color: #26348b;
  font-size: 14px ;
}

.picture-new input[type="submit"] {
  background-color: #ec607e;
  padding: 15px 0px 15px 10px;
  width:100%;
  border:0px;
  border-radius: 3px;
}

.picture-new input[type="submit"]:hover {
  background-color: #d85b74;
}

.add-picture {
  display: flex;
}


/* ---------- Mise en forme Alert messages -- */
.my_alert-notice, .my_alert-alert {
    position: absolute;
    height: 45px;
    text-align: center;
    width: 100vw;
    z-index: 999;
    display: block;
    top: 0px;
    padding: 13px;
}
.my_alert-notice { background-color: #00EA8A; }
.my_alert-alert {
  background-color: #E76262;
  color : white;
}

#error_explanation {
    color: #b1205d;
}


/* -------------- Routes ----------------- */

.route-info {
  padding: 5px;
  background-color: white;
  top: 10vh;
  right: 2vh;
  width: 20vh;
  border-radius: 3px;
  position:absolute;
  z-index: 999;
}

.go-to-route {
  padding: 5px;
  background-color: #ec607e;
  top: 25vh;
  right: 2vh;
  width: 20vh;
  border-radius: 3px;
  position:absolute;
  z-index: 999;
  text-align:center;
  a {
  text-decoration:none;
  color:white;
  }
  fas {
  color:white;
  margin-left: 20px;
  }
}

/*-----------------------*/


