.user_avatar_row_small {
  display: flex;
	align-items: center;
  min-width: 30vw;
}
.user_avatar_row_small img {
  height:40px;
  width: 40px;
  border-radius: 50px;
}

.user_avatar_row_small ul li {
	display: inline;
	width: 100%;
	background-color: yellow;
}

.title_artwork{
	font-weight: bold;
	font-size: 16px;
	width: 80%;
	height: auto;
}

.clear{
	clear: both;
	margin-top: 70px;
}

.picture_informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.picture_informations div{
  width: auto;
}
.picture_informations div:nth-child(2){
  display: flex;
  justify-content: center;
  a {border: white;}
}
.btn-default{
  border-color: white;
}
.picture_informations > div:last-child{
  text-align:right;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 3px 0 0;
}
