.user_avatar_row_small {
  display: flex;
  position: relative;
	align-items: center;
  min-width: 30vw;
  margin-left: 15px;
  margin-top:5px;
}
.user_avatar_row_small img {
  height:40px;
  width: 40px;
  border-radius: 50px;
}

.user_avatar_row_small ul li {
	display: inline;
	width: 100%;
	background-color: yellow;
}

.user_avatar_row_small a{
  color: #09125A;
  text-decoration: none;
}

.user_avatar_row_small a:hover{
  text-decoration: underline;
}

.title_artwork{
	font-weight: bold;
	font-size: 16px;
	width: 80%;
	height: auto;
}

.clear{
	clear: both;
	margin-top: 70px;
}


.space-top-bot-10{
	padding: 10px 0;
}


.picture_informations{
  width: 100%;
  /*background-color: red;*/
  height: 20%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.round-corner-ok{
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 7px 30px; 
  width: 200px;
  height: 10px; 
  border:2px solid #E76262;  
}

.round-corner-ok a{
color: #E76262; 
}

.round-corner-ok a:hover{
color: #E76262;
background-color: #73AD21;
}

.round-corner-no{
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 7px 30px; 
  width: 200px;
  height: 10px; 
  border:2px solid #ccc;  
}

.center-element{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.center-element a{
  color: #09125A;
  text-decoration: none;
}

.center-element a:hover{
  text-decoration: underline;
}

/*OLD picture CSS*/
/*.picture_informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: red;
}
.picture_informations div{
  width: 30vw;
}
.picture_informations div:nth-child(2){
  display: flex;
  justify-content: center;
  width: 10vw;
  a {border: white;}
}

.picture_informations > div:last-child{

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 3px 0 0;
  justify-content: flex-end;
}

.bottom_img_picture{
  margin-bottom: 20px;
}
*/
.btn-default{
  border-color: white;
}
