.user_avatar_row_small,
.user_avatar_row_small_type {
  display: flex;
  position: relative;
	align-items: center;
  min-width: 30vw;
  margin-left: 15px;
  margin-top:5px;
}
.user_avatar_row_small img,
.user_avatar_row_small_type img {
  height:40px;
  width: 40px;
  border-radius: 50px;
}

.user_avatar_row_small ul li,
.user_avatar_row_small_type ul li {
	display: inline;
	width: 100%;
	background-color: yellow;
}

.user_avatar_row_small a,
.user_avatar_row_small_type a{
  color: #09125A;
  text-decoration: none;
}

.user_avatar_row_small a:hover,
.user_avatar_row_small_type a:hover{
  text-decoration: underline;
}

.user_avatar_row_small_type{
  margin-left: 0px;
}


.clear{
	clear: both;
	margin-top: 70px;
}


.space-top-bot-10{
	padding: 10px 0;
}


.picture_informations{
  width: 100%;
  /*background-color: red;*/
  height: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.picture_informations a:hover{
text-decoration: none;
}

.nothing {
  .fas {
    color: white;
    margin-right: 3vh;
    margin-left: 3vh;
  }
}

.signal-picture-button {
  .fas {
    color: #bfbfbf;
    margin-right: 3vh;
    margin-left: 3vh;
  }
}

.round-corner-ok, .round-corner-ok-small {
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 9px 20px 3px 20px; 
  width: auto;
  height: 10px; 
  border:2px solid #E76262;
}

.round-corner-ok-small {
  padding: 7px 15px 2px 16px;
}

.round-corner-ok, .round-corner-ok-small a{
color: #E76262;
text-decoration: none;
}

.round-corner-ok, .round-corner-ok-small a:hover{
color: #E76262;
/*background-color: red;*/
}

.round-corner-no, .round-corner-no-small{
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 9px 20px 3px 20px; 
  width: auto;
  height: 10px; 
  border:2px solid #337ab7;  
}

.round-corner-no-small{
  padding: 7px 15px 2px 16px;
}

.center-element{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.center-element a{
  color: #09125A;
  text-decoration: none;
}

.center-element a:hover{
  text-decoration: underline;
}

/*OLD picture CSS*/
/*.picture_informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: red;
}
.picture_informations div{
  width: 30vw;
}
.picture_informations div:nth-child(2){
  display: flex;
  justify-content: center;
  width: 10vw;
  a {border: white;}
}

.picture_informations > div:last-child{

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 3px 0 0;
  justify-content: flex-end;
}

.bottom_img_picture{
  margin-bottom: 20px;
}
*/
.btn-default{
  border-color: white;
}
