.user_avatar_row_small {
  display: flex;
  position: relative;
  /*background-color: red;*/
	margin-top: -10px;
	margin-bottom: 10px;
	align-items: center;
}
.user_avatar_row_small img {
  height:40px;
  width: 40px;
  border-radius: 50px;
}

.user_avatar_row_small ul li {
	display: inline;
	width: 100%;
	background-color: yellow;
}

.publish{
	width: 100%;
	height: auto;
	/*background-color: green;*/
}

.title_artwork{
	font-weight: bold;
	font-size: 16px;
	width: 80%;
	height: auto;
}

.clear{
	clear: both;
	margin-top: 70px;
}
