/* -------------- Routes ----------------- */
.title_routes{
	font-size: 20px;
	color: #ccc;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
}

.spaceleft{
	padding: 0 2vh;
	text-align: center;
}

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.list-special .list-group-item {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none;
  border-right: none;
  padding: 15px 20px;
}

.equilibre{
	margin-left:20px;
}

.list-group-item {
    padding: 0 !important;
    height: 160px;
    display: flex !important;
		margin-bottom: 10px !important;
		overflow: hidden;
}
.list-group-item img {
	position: relative;
	width: 60%;
	min-width: 400px;
	overflow: hidden;
	filter: blur(1px);
	transform: rotate(5deg);
	height: 150%;
	top: -15%;
}
.list-group-item-inside{
  	justify-content: space-between;
}
.list-group-item-inside {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		min-height: 30%;
    background: #f0f8ff80;
		bottom: 0;
		text-align: center;
}


.list-group-item-inside a{
	width: 100%;
	font-size: 1.4em;
  text-decoration: none;
  color: #09125A;
}
.list-group-item-inside a:hover {
    text-decoration: none !important;
}


.route-info {
  padding: 10px 15px;
  background-color: white;
  top: 10vh;
  right: 2vh;
  width: 26vh;
  border-radius: 3px;
  position: absolute;
  z-index: 999;
  opacity: 0.75;
  box-shadow: 0 2px 8px 0;
}

.route-info p{
  font-size: 0.89em;
  margin: 5px 0 5px 0;
}

.go-to-route {
  padding: 8px;
  background-color: #ec607e;
  top: 25vh;
  right: 2vh;
  width: 13vh;
  border-radius: 3px;
  position:absolute;
  z-index: 999;
  text-align:center;
  box-shadow: 0 2px 8px 0;
  a {
  text-decoration:none;
  color:white;
  }

  fas {
  color:white;
  margin-left: 20px;
  }
}

/*-----------------------*/
