.title_routes{
	font-size: 20px;
	color: #ccc;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
	margin:  60px 0 0;
}

.spaceleft{
	padding: 0 2vh;
	text-align: center;
}

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.list-special .list-group-item {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none;
  border-right: none;
  padding: 15px 20px;
}

.equilibre{
	margin-left:20px;
}

.list-group-item-inside{
  display: flex;
  justify-content: space-between;
}

.list-group-item-inside  a{
  text-decoration: none;
  color: #666;
  :hover {
    text-decoration: none;
  }
}


