.body-searches {
	display: block;
	background-color: rgba(229,229,229, 0.5);
}

#search-container {
 	background-color: rgba(229,229,229, 1);
}

#search-input {
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	margin-left: 12.5vw;
	margin-right: 12.5vw;
	padding: 3px;
	width: 75vw;
  box-shadow: none;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

.ais-hits {
	margin-left: 12.5vw;
	margin-right: 12.5vw;
	width: 75vw;
}

.hit-content {
	background-color: white;
	display: flex;
	justify-content: space-between;
	border-color: #23527c;
	border-radius: 25px;
	padding-right: 2vw;
	padding-left: 2vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 2%;
	margin-right: 2%;
}

.hit-user_picture {
	height: 40px;
	width: 40px;
	border-radius: 50px;
}

.hit-pseudo {
	margin-left: 2vw;
	margin-right: 2vw;
	margin: 2vh;
}

.hit-artist_check {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.ais-pagination {
	width: 10vw;
	margin-left: 45vw;
	margin-right: 45vw;
	padding: 0;
}

