.body-searches {
	display: block;
}

#search-input {
	margin-top: 5vh;
	margin-bottom:  5vh;
	margin-left: 10vw;
	margin-right: 10vw;
	width: 80vw;
}

.ais-hits {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10vw;
	margin-right: 10vw;
	width: 80vw;
}

.hit-content {
	display: flex;
	border: 1.4px solid;
	border-color: #23527c;
	border-radius: 25px;
	padding-right: 2vw;
	padding-left: 2vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	margin: 2%;
}

.hit-user_picture {
	height: 40px;
	width: 40px;
	border-radius: 50px;
}

.hit-pseudo {
	margin-left: 2vw;
	margin-right: 2vw;
	margin: 2vh;
}

.hit-artist_check {
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-right: 2vw;
}

.ais-pagination {
	width: 10vw;
	margin-left: 45vw;
	margin-right: 45vw;
	padding: 0;
}