.user_top{
  background-color: #f4f4f4;
  background-size: cover;
}

.user_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
.user_row_left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user_avatar_row {
  padding: 2vh 0;
  display: flex;
  position: relative;
  justify-content: center;
}
.user_avatar_row img {
  height:90px;
  width: 90px;
  border-radius: 50px;
}

.user_pseudo{
  font-weight: bold;
  padding: 0 10px;
}
.edit_profile_link{
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #CCC;
  a {color: white;}
  a:hover {color: #09125A; text-decoration: none;}

}

.status_artist{
  width: 30vw;
  height: 20px;
  background-color: #09125A;
  color: white;
  margin: 5px 0px;
  border-radius: 5px;
  text-align: center;
  padding: 2px 10px;
}

.user_stats{
  display: flex;
  margin: 0 14px 15px;
  border-top: #80808066 1px solid;
}

.user_stats div{
  width: 33.3%;
  text-align: center;
  padding: 10px;
  border-left: #80808066 1px solid;
  border-right:#80808066 1px solid;
}
.user_stats div:first-child {
    border-left: none;
}
.user_stats div:last-child {
    border-right: none;
}

.user_tabs{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.user_tabs li{
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 3px #09125A solid;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  border-top : 1px grey solid;
}

.user_tabs i{
  color: #ccc;
  font-size: 4vh;
  padding: 10px;
}

.active_tab{
  background-color: #D5D6E8 !important;
  border-top: 5px #09125A solid !important;
  border-bottom: none;
}
.active_tab i{
  color: #09125A !important;
}


.user_bottom .user_tabs_description{
  padding: 12px 0;
  text-align: center;
}

.user_pictures {
  padding: 0;
}
.user_pictures .row {
  margin: 0;
}
.user_pictures .row div {
  padding :3px;
}
.user_pictures img{
  width: 33vw;
  border: 0vw white solid;
}

.user_map{
  display: none;
}
.artist_artworks_pictures{
  display: none;
  width: 100%;
  margin: 0;
}

.fa, .far, .fas {
    font-size: 1.8rem;
}
