.user_top{
  padding: 0 15px;
  height: 46vh;
  background-image: asset-data-url('image_fond.jpg');
  background-size: cover;
}


.user_avatar_row {
  padding: 4vh 0;
  display: flex;
  position: relative;
  justify-content: center;
}
.user_avatar_row img {
  height:90px;
  width: 90px;
  border-radius: 50px;
}

.user_pseudo{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.status_artist{
  width:30vw;
  height: 20px;
  background-color: #09125A;
  color: white;
  margin: auto;
  border-radius: 10px;
  position: absolute;
  right: 25px;
}

.user_stats{
  display: flex;
  margin: 0 14px 15px;
  border-top: #80808066 1px solid;
}

.user_stats div{
  width: 33.3%;
  text-align: center;
  padding: 10px;
  border-left: #80808066 1px solid;
  border-right:#80808066 1px solid;
}
.user_stats div:first-child {
    border-left: none;
}
.user_stats div:last-child {
    border-right: none;
}

.user_tabs{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.user_tabs i{
  color: white;
  font-size: 4vh;
}

.user_pictures {
  padding: 0 15px;
}
.user_pictures .row div {
  padding :2px;
}
.user_pictures img{
  width: 32vw;
  border: 0.8vw white solid;
}

.user_map{
  display: none;
}
.artist_artworks_pictures{
  display: none;
  width: 100%;
  margin: 0;
}

.fa, .far, .fas {
    font-size: 1.8rem;
}
